.favorited-items {
    padding: 1rem 0 5rem;
    max-width: 50rem;
    margin: 0 auto 7.5rem;

    ul {
        position: relative;
        margin: 0 0 3.25rem 0;
        padding: 0;

        li {
            padding: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .favorites-list {
        padding-top: 2rem;

        .favorite-item p a {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $light-purple;
                transition: all 0.2s ease-out;
            }

            &:after {
                content: '';
                position: absolute;
            }

            &:hover {
                color: $light-purple;

                &:before {
                    width: 100%;
                    transition: all 0.2s ease-out;
                }
            }
        }

        .favorite-item {
            .simplefavorite-button.active {
                text-align: right;
                position: absolute;
                right: 0;
                transition: unset;

                &:before {
                    content: '—';
                    position: absolute;
                    left: -0.85rem;
                }

                &:hover {
                    transition: unset;
                    color: $light-purple;

                    .fa-star {
                        color: $light-purple;
                    }
                }
            }
        }
    }
}

.simplefavorites-clear {
    margin-top: 1rem !important;
    border: 1px solid $light-purple !important;
    padding: 0.6rem 1.25rem !important;
    color: $light-purple !important;

    &:hover {
        background: $light-purple !important;
        color: $white !important;
    }
}

.small-text {
    margin-top: 5px !important;
    font-size: 0.875rem;
    color: $red-bar;
}
