{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
    <section class="kb-article-grid">
        {% for term in terms %}
            <div class="kb-card">
                <h4 class="kb-card--category-name">{{ term.name }}</h4>

                {% for article in term.posts() %}
                    <a class="kb-article" href="{{ article.link }}">
                        <p class="kb-article--title"><strong>{{ article.title }}</strong></p>
                        <time class="kb-article--date">{{ article.date }}</time>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
</div>
{% endblock %}