{# Block Name: Info Bar #}
<div class="info-bar info-bar--yellow">
    <h3 class="info-bar__title">{{ fields.info_bar_title }}</h3>
    <p class="info-bar__content">{{ fields.info_bar_text_content }}</p>
</div>
