// Background Colors
$primary-background: #F7F7F7;

// Theme Colors
$white: #FFF;
$black: #000;
$light-black: #3E3E3E;
$slate: #2C3544;
$dark-grey: #8896AB;
$light-purple: #8896FB;
$grey: #F4F4F4;
$green: #22C55E;
$light-green: #DCFCE7;

// Info Bar Colors
$blue-bar: #0090AD;
$blue-bg: #EBFCFF;
$yellow-bar: #F2BB08;
$yellow-bg: #FEFAEB;
$red-bar: #D4303B;
$red-bg: #FBEEEF;

// Fonts
$poppins: 'Poppins', sans-serif; // weights: 400/i, 600
$lato: 'Lato', sans-serif; // weights: 400, 900

// Weights
$regular: 400;
$semibold: 600;
$heavy: 900;

// Consistency Utilities
$radius-small: 5px;
$radius-medium: 10px;
$radius-large: 20px;
$circle: 50%;
