.home-header {
    height: 90.3vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 40%;
    background-color: rgba($black, 0.3);
    background-blend-mode: multiply;
    @include mq(md) { background-position: 100% 30%; }
    @include mq(xl) { background-position: 100% 25%; }

    .search-bar {
        max-width: 50rem;
        margin: 0 auto;
        padding: 6rem 1rem;
        @include mq(xs) { padding: 10rem 1rem; }

        h1 {
            display: flex;
            justify-content: space-between;
            max-width: 45rem;
            align-items: center;
            margin: 0 auto 7rem;
            font-size: fluid-text(480px, 70px, 1200px, 85px);
            text-align: center;
            color: $white;
            text-shadow: 0 0 6px rgba($slate, 0.75);

            img {
                display: inline-block;
                max-width: 15rem;
                margin: 0 auto;
            }
        }

        
    }

    #is-search-input-24 {
        padding: 30px 1rem;
        font-family: $poppins;
        font-size: 1.25rem !important;
        font-weight: $semibold;
        color: $slate;
    }
}

.is-ajax-search-no-result {
    font-family: $poppins;
    font-size: 0.875rem !important;
    font-weight: $semibold;
    color: $slate;
}

.is-ajax-search-posts::hover {
    background: $white !important;
}

.is-search-sections {
    span, a {
        font-family: $poppins;
        font-size: 0.9375rem !important;
        color: $slate !important;
        text-decoration: none;
    }
}

// main site header
.site-header {
    text-align: center;

    .title-only {
        margin-top: 5rem;
    }

    .category-wrapper {
        display: flex;
        max-width: 12rem;
        margin: 0 auto;
        justify-content: space-between;

        &--category {
            display: inline-block;
            margin: 5rem auto 1rem;
            max-width: 12rem;
            font-size: 0.875rem;
            line-height: 1.4;
            padding: 0.25rem 1rem;
            background-color: $light-green;
            color: $green;
            border-radius: $radius-large;
        }
    }

    h1 {
        margin-top: 0;
        margin-bottom: 5rem;
    }
}
