<nav class="site-nav" aria-label="Main site navigation">
    <div class="site-nav__wrapper">
        {{ function('display_user_details') }}

        <ul>
            <li><a class="nav-link home" href="/">Dashboard</a></li>
            <li><a class="nav-link" href="/knowledge-base-archive">Archive</a></li>
            <li><a class="nav-link" href="/support">Support</a></li>
        </ul>
    </div>
</nav>